.FlexTable__order-child-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  outline: none;
}

.FlexTable__order-row {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  outline: none;
}

.FlexTable__order-row .SrcUiTableBodyCell {
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.FlexTable__order-row .FlexTable__rowColumn:first-child .SrcUiTableBodyCell {
  border-left: 1px solid #e0e0e0;
}

.FlexTable__order-row:hover .FlexTable__rowColumn:first-child .SrcUiTableBodyCell {
  padding-left: 6px;
  border-left: 2px solid #777;
}

.FlexTable__order-row:hover .FlexTable__rowColumn:last-child .SrcUiTableBodyCell {
  padding-right: 6px;
  border-right: 2px solid #777;
}

.FlexTable__order-row:hover .FlexTable__order-child-row:first-child .SrcUiTableBodyCell {
  padding-top: 0px;
  border-top: 2px solid #777;
}

.FlexTable__order-row:hover .FlexTable__order-child-row:last-child .SrcUiTableBodyCell {
  padding-bottom: 0px;
  border-bottom: 2px solid #777;
}
