@font-face {
  font-family: "PT Sans";
  src: url(/fonts/PTSans-Regular.eot);
  src: url(/fonts/PTSans-Regular.eot?#iefix) format("embedded-opentype"), url(/fonts/PTSans-Regular.woff) format("woff"), url(/fonts/PTSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(/fonts/PTSans-Bold.eot);
  src: url(/fonts/PTSans-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/PTSans-Bold.woff) format("woff"), url(/fonts/PTSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: cc;
  src: url(/fonts/cc.eot?23315522);
  src: url(/fonts/cc.eot?23315522#iefix) format("embedded-opentype"), url(/fonts/cc.woff?23315522) format("woff"), url(/fonts/cc.ttf?23315522) format("truetype"), url(/fonts/cc.svg?23315522#cc) format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

@keyframes bounceG {
  0% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: .1;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

.tether-element {
  z-index: 2;
}

.tether-element5 {
  z-index: 5;
}
