<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.LOCALE %>" data-lang="<%= htmlWebpackPlugin.options.LOCALE %>">

<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="<%= htmlWebpackPlugin.options.LOCALE %>" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

  <link rel="icon" href="/images/favicon.ico?3" type="image/x-icon">
  <link rel="SHORTCUT ICON" href="/images/favicon.ico?3" type="image/x-icon">

  <script>
    window.LOCALES_LIST = <%= JSON.stringify(htmlWebpackPlugin.options.LOCALES_LIST) %> ;
    window.LOCALE = '<%= htmlWebpackPlugin.options.LOCALE %>';
    window.reseller_id = 1;
    window.jabber = 'test@test.com';
    window.appConfig = {
      api_url: 'http://backend.rabbittor.ml:3000/', // backend url address for app
      // search cards configuration block
      search: {
        request_interval: 2000,
      },
      // cart configuration block
      cart: {
        error_codes: [-3, -2, 0], // backend result error codes for failed buy
        buy_interval: 3000, // check buy availability
      },
      // billing configuration block
      billing: {
        balance_req_interval: 300000, // check payment interval
      },
      notify_check_limit: 5, // max notify error requests
      notify_interval: 60000, // interval for reload config
    }
  </script>
</head>

<body>
  <div id="container" style="height: 100%" />
</body>

</html>
