<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

  <link rel="icon" href="/images/favicon.ico?3" type="image/x-icon">
  <link rel="SHORTCUT ICON" href="/images/favicon.ico?3" type="image/x-icon">
  <link href="style/index.css" rel="stylesheet">

  <script>
    window.reseller_id = 1;
    window.jabber = 'test@test.com';
    window.appConfig = {
      api_url: 'http://backend.rabbittor.ml:3002/', // backend url address for app
    }
  </script>
</head>

<body>
  <div id="container" style="height: 100%" />
</body>

</html>
