/* Collection default theme */

.Collection {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* Without this property, Chrome repaints the entire Collection any time a new row or column is added.
   * Firefox only repaints the new row or column (regardless of this property).
   * Safari and IE don't support the property at all. */
  will-change: transform;
}

.Collection__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
}

.Collection__cell {
  position: absolute;
}


/* Grid default theme */

.Grid {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* Without this property, Chrome repaints the entire Grid any time a new row or column is added.
   * Firefox only repaints the new row or column (regardless of this property).
   * Safari and IE don't support the property at all. */
  will-change: transform;
  overflow-y: auto;
}

.Grid__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
}

.Grid__cell {
  position: absolute;
}


/* FlexTable default theme */

.FlexTable__Grid {
  overflow-x: hidden;
  outline: none;
}

.FlexTable__headerRow {
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.FlexTable__headerTruncatedText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.FlexTable__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  outline: none;
}

.FlexTable__headerColumn,
.FlexTable__rowColumn {
  min-width: 0px;
}

.FlexTable__headerColumn {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: hidden;
}

.FlexTable__sortableHeaderColumn {
  cursor: pointer;
}

.FlexTable__rowColumn {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.FlexTable__sortableHeaderIconContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.FlexTable__sortableHeaderIcon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.FlexTable__truncatedColumnText {
  text-overflow: ellipsis;
  height: 100%;
}


/* VirtualScroll default theme */

.VirtualScroll {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.VirtualScroll__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
}

.VirtualScroll__row {
  position: absolute;
}

.FlexTable__row .SrcUiTableBodyCell {
  border-right: 1px solid #e0e0e0;
}

.FlexTable__row .FlexTable__rowColumn:first-child .SrcUiTableBodyCell {
  border-left: 1px solid #e0e0e0;
}

.FlexTable__row:last-child .SrcUiTableBodyCell {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1px;
}

.FlexTable__row:hover .SrcUiTableBodyCell {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
}

.FlexTable__row:hover .FlexTable__rowColumn:first-child .SrcUiTableBodyCell {
  padding-left: 6px;
  border-left: 2px solid #777;
}

.FlexTable__row:hover .FlexTable__rowColumn:last-child .SrcUiTableBodyCell {
  padding-right: 6px;
  border-right: 2px solid #777;
}

.FlexTable__headerRow .SrcUiTableHeaderCell {
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.FlexTable__headerRow .FlexTable__headerColumn:first-child .SrcUiTableHeaderCell {
  border-left: 1px solid #e0e0e0;
}
